mlruns
.venv
__pycache__
.vscode
envcov
app.py
api.py
app1.py
5.png
6.png
7.jpg
api.py
covid_256_xray.h5
covid.h5
index.js
model_vgg_chest.h5

test_02.py
test_xray.py
test_ct.py
uvs_model_final.h5
uvs_laye_memo12.h5
vgg_chest.h5
vgg_ct.h5
model_uvs_chest.h5
image.png
img.png
img.jpg
im10.jpg
im1.jpg
img1.png
image_de_fond_covid.webp
C:\streamlit\model_final3classes\modelXceptionUvs.h5

coro
style
covenv
